html, body {
height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.body1 {
  background: url('televisions.png') no-repeat center center fixed;
  background-size: 100% 100%;
  font-family: monospace;
}

.header {
  border-bottom: 1px solid grey;
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.6),
              rgba(255, 255, 255, 0.8));
  background-size: 100% 100%;
  height: 100px;
}

.content {
  position: relative;
  min-height: calc(100% - 240px);
  margin: 0 25px;
  font-family: Comic Sans MS;
  font-size: 1.5em;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black;
  color: green;
}

.footer {
  border-top: 1px solid darkgrey;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9),
              rgba(177, 177, 177, 0.9));
  font-family: Comic Sans MS;
  font-size: 1.5em;
}

.border {
  border: 2px solid #000000;
  padding: 3px;
  margin-bottom: 5px;
}

.border1 {
  border: 4px dotted #000000;
  padding: 3px;
  margin-bottom: 5px;
}

.border2 {
  border-bottom: 2px solid #000000;
}

.header__menu_icon {
  height: 40px;
  width: 48px;
  padding: 20px;
  cursor: pointer;
}

.header__menu {
  display: none;
  position: absolute;
  margin: 1px 0 0 -40px;
  list-style: none;
  z-index: 2;
}

.header__menu li a {
  display: block;
  padding: 20px;
  border-bottom: grey solid 1px;
  background: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-size: 2em;
  color: lavender;
}

.header__menu li a:hover {
  background: rgba(211, 211, 211, 0.9);
  color: black;
}

.header__menu li:last-child a {
  border-bottom: none;
}

.header__title {
  position: absolute;
  display: inline-block;
  margin: 16px 0 0 4px;
  text-shadow: darkred 0 0 0.2px;
  font-size: 3.5em;
  color: black;
  }

  .header__logo {
  float: right;
  height: 64px;
  padding: 8px 20px 8px 0;
  opacity: 0.85;
}

.open {
  display: block;
 }

 .text h1 {
  font-family: Comic Sans MS;
  font-size: 1.75em;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black;
  color: green;
  margin: -45px;
 }

 .content__content_main {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: bisque 0 0 2px;
  font-size: 1.1em;
  color: red;
}

.content__text {
  margin: 25px;
  padding: 10px;
  border: 4px dotted black;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  }

  .footer__logo {
  height: 48px;
  padding: 16px;
  opacity: 0.85;
  float: left;
  margin: -24px;
}