body {
  user-select: none;
}

.menu ul {
  display: none;
  margin: 0;
}

.menu .title {
  font-weight: bold;
  cursor: pointer;
}

.menu .title:before {
  content: '▶';
  padding-right: 6px;
  color: green;
}

.menu.open ul {
  display: block;
}

.menu.open .title:before {
  content: '▼';
}

.voter {
  font-family: Consolas, "Lucida Console", monospace;
  font-size: 18px;
  user-select: none;
}

.up,
.down {
  cursor: pointer;
  color: blue;
  font-weight: bold;
}

.selected {
  background: #0f0;
}

li {
  cursor: pointer;
}

.customselect {
  width: 200px;
  font-size: 14px;
  display: inline-block;
}

.customselect .title {
  height: 20px;
  border: 2px groove #ADD8E6;
  background: white;
  width: 200px;
  box-sizing: border-box;
  padding: 2px;
  line-height: 14px;
  cursor: pointer;
  text-align: left;
}

.customselect li {
  padding: 2px;
  cursor: pointer;
}

.customselect li:nth-child(even) {
  background-color: #f0f8ff;
}

.customselect li:hover {
  background-color: #7fffd4;
}

.customselect ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  width: 200px;
  border-bottom: 1px solid #add8e6;
  border-left: 1px solid #add8e6;
  border-right: 1px solid #add8e6;
  box-sizing: border-box;
}

.customselect.open ul {
  display: block;
}

.slider {
  border-radius: 5px;
  background: #E0E0E0;
  background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 15px;
  margin: 5px;
}

.thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 10px;
  top: -5px;
  background: blue;
  cursor: pointer;
}