<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Sexy day</title>
    <link rel="stylesheet" href="../../static/web1/style.css">
</head>
<body>
<div class="page-header">
    <p class="top-img">
        <img src="../../static/web1/logo.png" width="128" height="128" alt="Sexy Day">
    </p>
    <h1>Sexy Day</h1>
    <ul class="links">
        <li><a href="#">About us</a></li>
        <li><a href="page/">Production</a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">Partners</a></li>
    </ul>
    <p class="sic">Anyone can break the rules<br>
        but only a few can get results of it.</p>
</div>

<div>
    <p class="baby">
        <img src="../../static/web1/wiki-2.png" alt="Pretty girl">
    </p>
    <h2 class="new_h2">Dream</h2>
    <h3 class="welcome">Angels 13</h3>
    <p class="glass-girl">
        <img src="../../static/web1/bottle-left.png" width="209" height="459" alt="Another girl">
    </p>
    <p><a href="#">Link 1</a></p>
    <table>
        <tr>
            <td>Age</td>
            <td>19</td>
        </tr>
        <tr>
            <td>Boobs</td>
            <td>B</td>
        </tr>
    </table>
    <p>She likes to hide in hoods which points at several problems of society.</p>
    <p>Temptation of young nature can get you into paradise, but it's just..!</p>
    <p><a href="#">Link2</a> <strong>--.-- price</strong></p>
    <h3>Angel 2..</h3>
    <table>
        <tr>
            <td>Age</td>
            <td>19</td>
        </tr>
        <tr>
            <td>Boobs</td>
            <td>B</td>
        </tr>
    </table>
    <p>Description</p>
    <img src="../../static/web1/bottle-right.png" width="248" height="459" alt="Two">
    <p>Description</p>
    <p><a href="#">Link1</a> <a href="#">Link2</a> <strong>--.-- price</strong></p>
</div>

<div class="advantage">
    <ul>
        <li><h2>Name</h2>
            <p>Description</p></li>
        <li><h2>Name</h2>
            <p>Description</p></li>
        <li><h2>Name</h2>
            <p>Description</p></li>
    </ul>
</div>

<div class="history">
    <h2>Name</h2>
    <dl>
        <dt>
            <h3>Name</h3>
            <i>Source: <a href="https://ru.wikipedia.org">ru.wikipedia.org</a></i>
        </dt>
        <dd>
            <img src="../../static/web1/wiki-1.png" alt="Description">
            <p>Description</p>
        </dd>
        <dt>
            <h3>Name</h3>
            <i>Source: <a href="https://ru.wikipedia.org">ru.wikipedia.org</a></i>
        </dt>
        <dd>
            <p>Description</p>
        </dd>
    </dl>

</div>

<div class="press">
    <h2>Name</h2>
    <blockquote>
        <p>Description</p>
        <p><i>Description</i> <a href="#">...</a></p>
    </blockquote>

</div>

<div class="price">
    <h2>Name</h2>
    <table>
        <tr>
            <th>tab1</th>
            <th>tab2.</th>
            <th>tab3</th>
            <th>tab4</th>
            <th>tab5</th>
        </tr>
        <tr>
            <td>Description</td>
            <td>list</td>
            <td>list</td>
            <td>list</td>
            <td>list</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>list</td>
            <td>list</td>
            <td>list</td>
            <td>list</td>
        </tr>
        <tr>
            <td>Description <sup>Description</sup></td>
            <td>list</td>
            <td>list</td>
            <td>list</td>
            <td>list</td>
        </tr>
        <tr>
            <td>Description <sup>Description</sup></td>
            <td>list</td>
            <td>list</td>
            <td>list</td>
            <td>list</td>
        </tr>
    </table>
</div>

<div class="order">
    <h2>Feedback</h2>
    <p class="center">If you have any question please contact us. In order to buy content also contact us.</p>
    <hr>
    <br>
    <div class="books">
        <img src="../../static/web1/book.png" width="256" height="256" alt="Books">
    </div>
    <form action="" class="inputs" method="post">
        {% csrf_token %}
        <div class="feedback">
            <label for="introduction">Name:</label>
            <input type="text" name="introduction" id="introduction">
        </div>
        <div class="feedback">
            <label for="phone">Phone number:</label>
            <input type="text" name="phone" id="phone">
        </div>
        <div class="feedback">
            <label for="extra-phone">Skype:</label>
            <input type="text" name="extra-phone" id="extra-phone">
        </div>
        <div class="feedback">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="feedback">
            <label for="value">Topic:</label>
            <select name="value" id="value">
                <option>production</option>
                <option>models</option>
                <option>fun time</option>
            </select>
        </div>
        <br>
        <div class="feedback">
            <label for="comment">Comments:</label><br>
            <textarea name="comment" id="comment" rows="10" cols="37"></textarea>
        </div>
        <div class="feedback">
            <span>I'm agree to RSS</span>
            <label class="checkbox">
                <input type="checkbox" name="subscribe" id="checkbox">
            </label>
        </div>
        <br>
        <div class="but">
            <input class="button" type="submit" name="btn" value="Contact us">
        </div>
        <br>
    </form>
</div>

<p class="sitting">
    <img src="../../static/web1/sitting.png" width="96" height="96">
</p>
<h2 class="sit2">___</h2>
<div class="page-footer">
    <p class="bot-img">
        <img src="../../static/web1/logo2.png" width="64" height="64" alt="Sexy Day">
    </p>
    <ul class="downlinks">
        <li><a href="#">About us</a></li>
        <li><a href="page/">Production</a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">Partners</a></li>
    </ul>
    <span class="developer"><strong>Developer:</strong> <a href="https://ridj.github.io/">Awesome me</a></span><br>
    <p class="logo">
        <img src="../../static/web1/rlogo.png" width="27" height="34">
    </p>
    <span class="rights">All rights reserved</span>
    <span class="socials">
            <a class="social social-vk" href="http://vk.com"></a>
            <a class="social social-fb" href="http://www.facebook.com"></a>
            <a class="social social-tw" href="http://twitter.com"></a>
        </span>
</div>

</body>
</html>
