<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Widgets LoDash Exercises</title>
  <link rel="stylesheet" type="text/css" href="widgets_lodash2.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
  <script src="https://cdn.polyfill.io/v1/polyfill.js?features=Element.prototype.closest"></script>
</head>
<body>

  <script type="text/template" id="menu-template">
    <div class="menu">
      <span class="title"><%-title%></span>
    </div>
  </script>

  <script type="text/template" id="menu-list-template">
    <ul>
      <% for (var key in items) { %>
      <li><a href="#<%=encodeURIComponent(key)%>"><%-items[key]%></a></li>
      <% }; %>
    </ul>
  </script>

  <script src="widgets_lodash2.js"></script>
</body>
</html>