html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 280px;
    min-height: 250px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    line-height: 1.2;
    color: #7f8c8d;
    background: #ecf0f1;
}

.post-stats .icon {
    width: 15px;
    height: 15px;
}

.post-title {
    margin-left: 75px;
    font-size: 20px;
    color: #2980b9;
}

.post-date  {
    display: block;
    background: #ffffff;
    margin-top: -24px;
    width: 55px;
    height: 36px;
    border-bottom: 5px solid #bdc3c7;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 19px;
}

.post-author    {
    margin-left: 75px;
    margin-top: -31px;
}

.post-author a    {
    text-decoration: none;
    color: #2980b9;
}

.post-stats {
    margin-left: 95px;
    margin-top: 5px;
}

.post-stats a   {
    text-decoration: none;
    color: #2980b9;
}

.sorry   {
    position: absolute;
    left: 257px;
    top: 98px;
}

.icon   {
    background: url(/assets/course14/post-challenge.png) no-repeat;
}

.icon-tags  {
    position: absolute;
    left: 85px;
    background-position: 0 0;
}

.icon-comments  {
    position: absolute;
    left: 237px;
    top: 98px;
    background-position: -20px 0px;
}

.post-type  {
    position: absolute;
    top: 144px;
    display: block;
    background: #7f8c8d;
    margin-top: -24px;
    width: 55px;
    height: 36px;
    border-bottom: 5px solid #bdc3c7;
    padding-top: 19px;
    background-image: url(/assets/course14/quotes.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.post-text  {
    position: absolute;
    left: 85px;
    top: 112px;
    display: block;
    width: 170px;
    background: #ffffff;
    color: #7f8c8d;
    padding: 10px 0;
    padding-left: 15px;
    padding-right: 10px;
    border-bottom: 5px solid #bdc3c7;
}