<!--<link rel="stylesheet" href="../../static/web1/base.css">
    <p class="indexlinks">
    <a href="{/% url 'web1:index' %}">Sexy Day</a>
    <a href="{/% url 'web1:topics' %}">Topics</a>
        In this example, the template tag  % url 'web1:index' % generates
         a URL matching the URL pattern defined in web1/urls.py with the name
         'index' u. In this example, web1 is the namespace and index is a
         uniquely named URL pattern in that namespace
    {/% if user.is_authenticated %}
        Hello, {/{ user.username }}.
        <a href="{/% url 'users:logout' %}">Log out</a>
    {/% else %}
        <a href="{/% url 'users:register' %}">Register</a>
        <a href="{/% url 'users:login' %}">Log in</a>
    {/% endif %}
</p>

{/% block content %}{/% endblock content %}

In a large project, it’s common to have one parent template called
 base.html for the entire site and parent templates for each major section
 of the site. All the section templates inherit from base.html, and each
 page in the site inherits from a section template. This way you can easily
 modify the look and feel of the site as a whole, any section in the site,
 or any individual page. This configuration provides a very efficient way
 to work, and it encourages you to steadily update your site over time.-->

{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sexy Day</title>

    {% bootstrap_css %}
    <!-- one of django-bootstrap3’s custom template tags, which tells Django
     to include all the Bootstrap style files-->
    {% bootstrap_javascript %}

</head>

<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
            </button>
            <a class="navbar-brand" href="{% url 'web1:index' %}">Sexy Day</a>
        </div>

        <div id="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'web1:topics' %}">Topics</a></li>
            </ul>

            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li style="margin-right: 25px;"><a>Hello, {{ user.username }}!</a></li>
                    <li><a href="{% url 'users:logout' %}">Log out</a></li>
                {% else %}
                    <li style="margin-right: 25px;"><a href="{% url 'users:register' %}">Registration</a></li>
                    <li><a href="{% url 'users:login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="page-header">
        {% block header %}{% endblock header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>

</div> <!-- /container -->
</body>
</html>
