/* КЛАССЫ */
.scuama__background {
    /* чешучатый background from html academy lesson */
    background-color: silver;
    background-image:
        radial-gradient(circle at 100% 150%, silver 40%, transparent 40%, transparent),
        radial-gradient(circle at 0 150%, silver 40%, transparent 40%, transparent),
        radial-gradient(circle at 50% 100%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, silver 49%, transparent 50%, transparent),
        radial-gradient(circle at 0 50%, silver 49%, transparent 50%, transparent);
    background-repeat: repeat;
    background-size: 50px 25px;
}

.relief__background {
    /* узорчатый фон с повторяющимся колебанием */
    background-image:
        linear-gradient(45deg, #34495e 25%, transparent 25%),
        linear-gradient(-45deg, #34495e 25%, transparent 25%),
        linear-gradient(135deg, #34495e 25%, transparent 25%),
        linear-gradient(-135deg, #34495e 25%, transparent 25%);
    background-repeat: repeat;
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
}


/* КОЛЛЕКЦИИ */

.pretty_colors {
  /* просто красивые цвета */
    /* Зелёные */
    background-color: #2ecc71;      /* салатовый */
    background-color: #27ae60;      /* тёмный лист зелёный */
    background-color: darkcyan;     /* тёмный коралл */

    /* Красные */
    background-color: #e74c3c;      /* нежный красный */
    background-color: #c0392b;      /* тёмно-кроваво красный */

    /* Синие */
    background-color: lightblue;    /* нежноголубой */

    /* Желтые */
    background-color: #f1c40f;      /* пастельно жёлтый */
    background-color: #f39c12;      /* оранжевый */
}

.pretty_gradients {
  /* Красивые градиенты */
  /* Светлые */
  background: linear-gradient(#cae2e3, #ccffff); /* Lazure Menu from Soccer Heads game */

  /* Темные */
  background: linear-gradient(black, #2d2121); /* Dark Space Body */
}
