<!DOCTYPE html>
<html>
<head>
  <title>Templates</title>
  <style>
    #pselem >>> * {background-color: rgba(0, 0, 0, .3);}
    #pselem::shadow h3 { border-bottom: 1px dashed blue; }
  </style>
</head>
<body>
  <h1>Templates</h1>

  <div id="pselem">
    Good Morning, Sunshine!
  </div>

  <template id="tmpl">
    <style>
      p { color: red; }
    </style>
    <h3><content></content></h3>
    <p>Hello from Underground!</p>
    <script>
      document.write('...document.write:NEWS')
    </script>
  </template>

  <script src="aatemplates.js"></script>
</body>
</html>