/* Simple custom scrollbar for chrome (+webkit browsers) */

::-webkit-scrollbar {
    width: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(128, 128, 128, .05);
    -webkit-box-shadow: inset 0 0 6px rgba(128, 128, 128, .4);
}

/* Thumb */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(155, 155, 155, .7);
}
