html {
  user-select: none;
}

.bogua {
  width: 100%;
  text-align: center;
  font-family: "Blackadder ITC";
  font-size: 1.2em;
}

.bogua td {
  width: 33%;
}

.exercise1 {
  margin: 10px auto;
  width: 70%;
}

.pane  {
  position: relative;
  background-color: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
}

.exercise1 h3 {
  margin: 0;
  padding-bottom: .3em;
  font-size: 1.1em;
}

.exercise1 p {
  margin: 0;
  padding: 0 0 .5em;
}

.remove-button {
  position: absolute;
  top: 0;
  font-size: 110%;
  color: darkred;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.tree span:hover {
  font-weight: bold;
}

.hidden-menu {
  display: none;
}

.grid th {
  cursor: pointer;
}

.grid th:hover {
  background: yellow;
}