body {
  height: 2000px;
}

#house {
  margin-top: 50px;
  width: 400px;
  border: 1px solid brown;
}

#roof {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 20px solid brown;
  margin-top: -20px;
}

p {
  text-align: justify;
  margin: 10px 3px;
}

.span-tip {
  position: absolute;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  border-radius: 5%;
}

.span-roof{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.hours {
  color: red;
}

.minutes {
  color: green;
}

.seconds {
  color: blue;
}

.clock {
  margin-top: 25px;
  border: 1px dashed black;
  padding: 5px;
  display: inline-block;
  background: yellow;
}