h2 {
  text-align: center;
  color: darkred;
  text-shadow: 0 0 1px black;
}

li {
  padding: 5px;
  font-family: monospace;
  font-size: 1.5em;
  text-shadow: 0 0 0.05px red;
}

input, select {
  margin-left: 10px;
}

.gotcha {
  color: green;
}

.overdose {
  color: red;
}