html, body {
  margin: 0;
  padding: 0;
}

.body {
   background: url('office.png') no-repeat center center fixed;
   background-size: 100% 100%;
}

.header {
  background: linear-gradient(to left bottom, #000000, #ffffff);
  background-size: 100% 100%;
}

.header__logo {
  float: right; 
  padding-right: 30px;
}

.book {
  float: : left;
}

.text p,ul {
 text-shadow: 1px 1px 0 black, -1px -1px 0 black;
 padding-left: 30px;
}

.footer {
  background: linear-gradient(to right bottom, #000000, #ffffff);
}

.content {
  font-weight:600;
  font-family: Comic Sans MS;
  color: green;
}

.border {
  border: 2px solid #000000;
  padding: 3px;
  margin-bottom: 5px;
}

.border1 {
  border: 4px dotted #000000;
  padding: 3px;
  margin-bottom: 5px;
}

.border2{
  border-bottom: 2px solid #000000;
}

.menu {
  list-style: none;
}
.menu li {
  float:left;
  margin-right: 1px;
  font-family: Comic Sans MS;
  font-size: 14px;
}
.menu li a {
  display: block;
  padding: 15px 20px;
  background: #ffffff;
  color: blue;
  text-decoration: none;
  position: relative;
}
.menu li a:hover {
  background: #92d3d3;
  color: #6b6b6b;
}
