body, html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 2000px;
}

.scroll {
  position: fixed;
  top: 5px;
  right: 20px;
  border: 2px solid black;
  background: bisque;
  z-index: 1;
}

.column-left {
  float: left;
  width: 30%;
  background: #aef;
}

.column-right {
  margin-left: 30%;
  width: 70%;
  background: tan;
  overflow: auto;
  /* расшириться вниз захватить float'ы */
}

.header {
  line-height: 60px;
  background: yellow;
}

.inner {
  margin: 1em;
  font-size: 130%;
}

#avatar {
  float: left;
  margin: 0 1em .5em 0;
  border: 1px solid black;
  text-align: center;
  background: white;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

#matrix {
  width: 400px;
  margin: auto;
  overflow: auto;
  text-align: justify;
}

.navigate-arrow {
  display: none;
  position: fixed;
  top: 20px;
  background: bisque;
  color: green;
  font-size: 200%;
  border: 2px solid black;
  cursor: pointer;
  user-select: none;
}

.news-item {
  width: 700px;
  text-align: justify;
  margin-top: 20px;
}

.news-item .title {
  font-weight: bold;
  margin-bottom: 5px;
}